body{
    background-color: #e9f0f4;
    font-family : 'Lato', Serif;
}
table {
    width: 320px;
    margin: auto;
    margin-top:250px;
    border-collapse : collapse;
}
thead{
    background-color: #2e3641;
    color: #dae4eb;
    text-align : left;
    font-size: 16px;
}
#TableHeader{
    position:relative;
    left: 20px;

}
th{
    height:36px;
}
th:nth-child(1){
    width:28px;
    border-right : 1px solid #454f5c;
}
th:nth-child(2){
    width:3px;
    border-right : 1px solid #454f5c;
}
th:nth-child(3){
    width:289px;
    border:none;
}th:nth-child(4){
    border:none;
}
tbody{
    background-color: #ffffff;
    word-wrap: break-word;
    color:#2e3641;
    font-size : 16px;
}
tbody > tr{
    height:27px;
}

td:nth-child(1){
    width:28px;
    border-right : 1px solid #f2e3df;
}
td:nth-child(2){
    width:3px;
    border-right : 1px solid #f2e3df;
}td:nth-child(3){
     width:289px;
     border-right : none;
 }}td:nth-child(4){

     border-right : none;
 }
input{
    margin:0;
    margin-left:20px;
    border : none;
    background-color: transparent;
}
input:focus {
    outline: none;
    }
i{
    position:relative;
    left:7px;
}
i:hover{
    cursor:pointer;
}
